
<div class="row">
  <toaster-container toaster-options="{'time-out': 3000, 'close-button': true}">
  </toaster-container>
  <div class="col-md-4 col-xs-12 form-group">
  <label for="search">Search:</label>
  <input ng-model="search" type="text" class="form-control" id="search">
  </div>
</div>
  <div ng-repeat="item in items |  filter: { name: search}" class=row>
    <div class="col-md-2 col-xs-4">
      <img class="img img-circle img-thumbnail" style="height:70px;width:70px;" src={{item.image}} alt="No">
    </div>
    <div class="col-md-6 col-xs-4">
      {{item.name}}
      <p>{{item.description}}</p>
    </div>
    <div class="col-md-2 col-xs-2">{{item.price | currency:"Rs."}}</div>
    <div class="col-md-2 col-xs-2">
      <button ng-click=addItem(item.PId) class="btn btn-info">Add to cart</button>
    </div>
  </div>
</div>
